* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style: none;
}

/* DEBUG 
(stili che verranno cancellati nel layout finale*/
/* .debug {
  min-height: 40px;
  border: 2px dashed black;
}

header nav,
header img,
header button {
  background-color: orange;
}

#hero {
  background-color: blue;
}

section.hero>div {
  min-height: 300px;
  background-color: pink;
}

header img {
  min-width: 100px;
}

header nav {
  min-width: 400px;
}

.section-discord {
  min-height: 500px;
}

.section-discord-image {
  background-color: purple;
  color: white;
}

.section-discord-content {
  background-color: skyblue;
}

main section:last-child .section-discord {
  min-height: 700px;
}

.footer-top {
  min-height: 300px;
}

.footer-top-heading {
  background-color: pink;
}

.footer-top-menu {
  background-color: skyblue;
}

.footer-bottom {
  min-height: 60px;
  background-color: blue;
}

.footer-bottom img,
.footer-bottom button {
  max-height: 30px;
  background-color: orange;
} */

/* UTILS */
.container {
  width: 70%;
  margin: 0 auto;
}

.flex-col {
  flex-direction: column;
}

.footer-bottom img {
  min-width: 100px;
  min-height: 40px;
}

.button {
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1rem;
}

.button-light {
  background-color: #fbfffa;
  color: black;
}

.button-dark {
  background-color: #232729;
  color: white;
}

.button:hover {
  filter: brightness(70%);
  transition-property: filter;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

/* SPECIFIC */
header {
  background-color: #3160e0;
  padding: 1rem 0;
  font-size: .9rem;
}

header img {
  max-width: 100px;
}

header nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

header .button {
  font-size: .8rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.hero>div {
  width: 55%;
  margin: 0 auto;
  max-width: 800px;
}

section.hero>div p {
  margin: 2rem 0;
}

#hero {
  background-image: url("/assets/img/jumbo.png");
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding: 10rem 0;
  background-size: cover;
}

#hero .button-light {
  margin-right: 2rem;
}

.section-discord {
  display: flex;
  padding: 5rem 0;
}

.section-discord-image {
  flex-grow: 2;
}

.section-discord-content {
  flex-grow: 1.5;
}

section:nth-child(odd) {
  background-color: lightgray;
}

section:nth-child(even) {
  background-color: gray;
}

main section:last-child .section-discord-content {
  flex-grow: 1;
}

footer {
  background-color: #23272a;
  padding: 5rem 0;
}

.footer-top {
  display: flex;
}

.footer-top-heading {
  flex-grow: 1;
}

.footer-top-menu {
  flex-grow: 3;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
}