* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Helvetica', sans-serif;
}

ul {
  list-style: none;
}

/* UTILS */
.container {
  width: 70%;
  margin: 0 auto;
}

.flex-col {
  flex-direction: column;
}

.footer-bottom img {
  min-width: 100px;
  min-height: 40px;
}

.button {
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 1rem;
  display: inline-block;
}

.button-light {
  background-color: #fbfffa;
  color: black;
}

.button-dark {
  background-color: #232729;
  color: white;
}

.button-accent {
  background-color: #8ca1e1;
}

.button:hover {
  filter: brightness(70%);
  transition-property: filter;
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
}

/* SPECIFIC */
header {
  background-color: #3160e0;
  padding: 1rem 0;
  font-size: .9rem;
}

header img {
  max-width: 100px;
}

header nav ul li {
  display: inline-block;
  margin: 0 1rem;
}

header .button {
  font-size: .8rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section.hero>div {
  width: 55%;
  margin: 0 auto;
  max-width: 800px;
}

section.hero>div p {
  margin: 2rem 0;
}

#hero {
  background-image: url("/assets/img/jumbo.png");
  text-align: center;
  font-size: 1.2rem;
  color: white;
  padding: 10rem 0;
  background-size: cover;
}

#hero .button-light {
  margin-right: 2rem;
}

.section-discord {
  display: flex;
  padding: 5rem 0;
  align-items: center;
}

.section-discord-image {
  text-align: center;
  flex-grow: 4;
  flex-shrink: 1;
}

.section-discord-content {
  padding: 0 5rem;
  flex-grow: 1;
  flex-shrink: 4;
}

section img {
  width: 100%;
}

section:last-child .section-discord .section-discord-image img {
  width: 100%;
}

.section-discord-content h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}

section:nth-child(odd) {
  background-color: white;
}

section:nth-child(even) {
  background-color: #f6f6f6;
}

main section:last-child {
  text-align: center;
}

main section:last-child h3 {
  padding: 2rem 0;
}

main section:last-child .section-discord-content,
main section:last-child .section-discord-image {
  flex-grow: 0;
}

main section:last-child .section-discord-content:last-child {
  background-image: url("/assets/img/stars.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  background-color: #23272a;
  padding: 5rem 0;
  color: white;
}

footer h3,
footer h4 {
  color: #8ca1e1;
}

.footer-top {
  display: flex;
  border-bottom: 1px solid #3b4149;
  padding-bottom: 3rem;
}

.footer-top-heading {
  flex-grow: 1;
}

.footer-top-heading ul li {
  display: inline-block;
  margin-right: 1rem;
}

footer .lang {
  margin: 1rem 0;
}

footer .lang {
  font-size: .9rem;
}

.footer-top-heading span::before {
  background-image: url("/assets/img/ita.png");
  background-size: 1.2rem 0.9rem;
  width: 1.2rem;
  height: 0.9rem;
  content: " ";
  display: inline-block;
  margin-right: 0.5rem;
}

.footer-top-menu {
  flex-grow: 3;
  display: flex;
  justify-content: space-between;
}

.footer-top-menu li {
  line-height: 2.2rem;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
}

.footer-bottom img {
  max-width: 100px;
}

.footer-bottom .button {
  font-size: 0.9rem;
}